# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.mo
*.log
media/
staticfiles/

# Environment
.env
.venv/
env/
venv/
ENV/
*.env

# VSCode / IDEs
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Pycharm
*.iml
*.ipr
*.iws
